/* ==UserStyle==
@name           Seafile Ice Sandwich
@namespace      codeberg.org/techfoxxo
@version        1.0.1
@description    A new userstyle for Seafile
@author         Techfoxxo <techfoxxo at protonmail dot com>
@homepageURL    https://codeberg.org/techfoxxo/UserStyles
@updateURL      https://codeberg.org/techfoxxo/UserStyles/raw/branch/main/seafile.css
@license        CC-BY-SA-4.0
==/UserStyle== */
@-moz-document domain("cloud.satecloud.com") {
    
    :root {
        --lavender-pink: #FCBEF0;
        --plum: #F49FF9;
        --violet: #DA86F0;
        --lavender: #BF6CE7;
        --royal-purple: #7D4A96;
        --english-violet: #51335B;
        --dark-purple: #2F1F32;
    }
    .btn-primary {
        background-color: var(--royal-purple);
        border-color: var(--english-violet);
        transition: 200ms ease-in-out;
    }
    
    .btn-secondary, .nav-pills .nav-item .nav-link, .account-popup a.item{
        transition: 130ms ease-in-out;
    }
    
    .btn-secondary, #detail {
        border-radius: 10px ;
    }
    
    a {
        color: var(--royal-purple);
    }
    
    .btn-primary:hover {
        background-color: var(--lavender);
    }
    
    .login-panel-logo {
        margin-left: calc(50% - 22em);
        margin-bottom: -6em;
        width: 10em;
        height: 10em;
        position: relative;
        background-color: var(--royal-purple);
        border: solid 2px var(--english-violet);
        border-radius: 50%;
    }
    
    .op-icon {
        color: var(--lavender);
    }
    
    .nav-pills .nav-item .nav-link.active {
        background-color: var(--lavender)
    }
    
    .dropdown-item {
        color: #000000;
    }
    
    tr:hover, .nav-pills .nav-item .nav-link:not(.active):hover, tr:hover, .account-popup a.item:hover, .btn-secondary:hover, .dropdown-item:hover {
        background-color: #BF6CE733;
        color: #000000;
    }
}
